SUPABASE_URL=https://wvdalleynqnbdxbtqrca.supabase.co
SUPABASE_ANON_KEY=sb_publishable_QJuYBulKC08S0DtZjsYWqQ_cyJMVV0C
DATABASE_URL=
AL_CAIXA_UPDATE_MANIFEST_URL=
AL_GERENCIAMENTO_MASTER_UPDATE_MANIFEST_URL=